*{
  margin: 0;
  padding: 0;
  
}

body {
  background-color: #a9a3a3; /* gris de fondo */
  padding-top: 80px; 
}

.navbar {
  position: fixed; /* Fija la barra en la ventana del navegador */
  top: 0; /* La coloca en la parte superior */
  width: 100%; /* Asegura que ocupe todo el ancho */
    z-index: 1030; /* Coloca la barra por encima de otros elementos */
}

.navSelect{
  text-align: center;
}

.navSelect:hover{
  background-color: #828181; 
  border-radius: 2rem;
  transition: .5s;
}

.cerrarSesion{
  display: flex;
  justify-content: center;
}

/* Tarjeta de encabezado */
.card {
    border-radius: 10px;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

h3 {
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
}